<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- ingleton -->
    <bean id="theWorld" class="main.step_1_helloworld.HelloWorld" scope="singleton">
    </bean>

    <!-- prototype -->
    <bean id="aWorld" class="main.step_1_helloworld.HelloWorld" scope="prototype">
    </bean>

</beans>